Source: roboparty-base
Section: misc
Priority: optional
Maintainer: wentywenty <2321901849@qq.com>
Build-Depends: debhelper-compat (= 12), python3

Package: roboparty-base
Architecture: all
Depends: ${misc:Depends}
Description: RoboParty base package
 Initializes /opt/roboparty directory structure and configures
 ldconfig for shared library loading.
