#!/usr/bin/make -f
export DH_VERBOSE = 1

PYTHON_VER := $(shell python3 -c 'import sys; print(f"{sys.version_info.major}.{sys.version_info.minor}")')

%:
	dh $@

override_dh_auto_configure:
override_dh_auto_build:

override_dh_install:
	dh_install
	
	install -d debian/roboparty-base/opt/roboparty/lib/python$(PYTHON_VER)/site-packages
	install -d debian/roboparty-base/opt/roboparty/include
	install -d debian/roboparty-base/opt/roboparty/bin
	install -d debian/roboparty-base/opt/roboparty/share
	
	install -m 644 setup.bash debian/roboparty-base/opt/roboparty/
	
	install -d debian/roboparty-base/etc/ld.so.conf.d
	install -m 644 etc/ld.so.conf.d/roboparty.conf debian/roboparty-base/etc/ld.so.conf.d/
	
	install -d debian/roboparty-base/etc/udev/rules.d
	install -m 644 etc/udev/rules.d/*.rules debian/roboparty-base/etc/udev/rules.d/

	install -d debian/roboparty-base/etc/systemd/system
	install -m 644 etc/systemd/system/wifi-reset.service debian/roboparty-base/etc/systemd/system/
	install -m 644 etc/systemd/system/hpm-reset.service debian/roboparty-base/etc/systemd/system/

	install -d debian/roboparty-base/etc/roboparty
	install -m 755 etc/roboparty/wifi-reconnect.sh debian/roboparty-base/etc/roboparty/
	install -m 755 etc/roboparty/reset_hpm.sh debian/roboparty-base/etc/roboparty/

	install -d debian/roboparty-base/etc/default
	install -m 644 etc/default/wifi-reset debian/roboparty-base/etc/default/
	install -m 644 etc/default/hpm-reset debian/roboparty-base/etc/default/
