#!/usr/bin/make -f
export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_configure:
override_dh_auto_build:
override_dh_auto_test:
override_dh_auto_clean:
override_dh_auto_install:

override_dh_install:
	dh_install

	install -d debian/roboparty-base/opt/roboparty/lib/python3.10/site-packages
	install -d debian/roboparty-base/opt/roboparty/include
	install -d debian/roboparty-base/opt/roboparty/bin
	install -d debian/roboparty-base/opt/roboparty/share

	install -m 644 setup.bash debian/roboparty-base/opt/roboparty/

	install -d debian/roboparty-base/etc/ld.so.conf.d
	install -m 644 etc/ld.so.conf.d/roboparty.conf debian/roboparty-base/etc/ld.so.conf.d/

	install -d debian/roboparty-base/etc/udev/rules.d
	install -m 644 etc/udev/rules.d/*.rules debian/roboparty-base/etc/udev/rules.d/
