# HPMicro Boot ROM USB HID (hpmtool.py)
SUBSYSTEM=="usb", ATTRS{idVendor}=="34b7", MODE="0666"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="34b7", MODE="0666", ACTION=="add", TAG+="systemd", ENV{SYSTEMD_WANTS}="hpm-autoflash.service"
